{% extends 'base.html' %}



{% block content %}
    

    <h1> Blog de {{ category}}  </h1>


    {%  for post in category_post %}
    <h2><a href="{% url 'article_details' post.pk %}">{{ post.title }}</a></h2>

    <h2>{{ post.author}}</h2>
    <small>{{ post.date_posted}} - {{ post.category}}</small>

        {% if user.is_authenticated %}
        <small>
            <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
            <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
        </small>
        {% endif %}

    <p>{{ post.content|slice:":200" |safe}}</p>

    {% endfor %}

   

 {% endblock %}